<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-card-title color="primary">
              Our History
            </ion-card-title>
            <div>
                Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. 
                With its unique brand of world fusion cuisine that can be found nowhere else,
                 it enjoys patronage from the A-list clientele in Hong Kong. 
                 Featuring four of the best three-star Michelin chefs in the world, 
                 you never know what will arrive on your plate the next time you visit us.                
                The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO,
                 Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.                
            </div>
 
        </ion-card-content>            
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title color="primary">
                Corporate Leadership
            </ion-card-title>
            <div *ngIf="leaders">
                <ion-list>
                    <ion-item  text-wrap  *ngFor="let item of leaders">
                        <ion-avatar item-start><img src="{{BaseURL + item.image}}"></ion-avatar>
                        <h2>{{ item.name }}</h2>
                        <div>{{ item.designation }}</div>
                        <p >{{ item.description }}</p>
                    </ion-item>
                </ion-list>               
            </div>
 
        </ion-card-content>            
    </ion-card>

    

    <ion-card>
        <ion-card-content>
            <ion-card-title color="primary">
              Locatin Information
            </ion-card-title>
            <div>
              121, Clear Water Bay Road<br>
              Clear Water Bay, Kowloon<br>
              HONG KONG<br>
              <ion-icon name="call"></ion-icon>: +852 1234 5678<br>
              <ion-icon name="print"></ion-icon>: +852 8765 4321<br>
              <ion-icon name="mail"></ion-icon>: 
              <a href="mailto:confusion@food.net">confusion@food.net</a>
            </div>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="call"></ion-icon>
                  <div>Call</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="mail"></ion-icon>
                  <div>Email</div>
                </button>
              </ion-col>    
        </ion-card-content>            
    </ion-card>

</ion-content>
